<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component Preview :: DotMark </title>
    <script type="module" async src="./dist/core-bundle.es.js"></script>
    <script type="module" async src="./dist/plot.es.js"></script>
    <script type="module" async defer src="./dist/dot.es.js"></script>
  </head>
  <body>
    <osl-plot
      data="https://d3uldu0bz6pkei.cloudfront.net/data-query/64653de73263910008137327"
    >
      <osl-dot-plot x="Total Pop" y="Pop NH White"> </osl-dot-plot>
    </osl-plot>
  </body>
</html>
