<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component Preview :: Slider</title>
    <!-- <script type="module" src="https://unpkg.com/@spectrum-web-components/theme@0.15.0/src/theme-light.css.js"></script> -->
    <script type="module" src="./dist/core-bundle.es.js"></script>
    <script type="module" src="./dist/checkbox.es.js"></script>
  </head>
  <body>
    The value is:
    <osl-interface
      data="https://d3uldu0bz6pkei.cloudfront.net/data-query/6463ec5412b93e00099b0e05"
      option="mag"
      ></osl-interface>
      <br/>
      <hr/>
      <br/>
      <osl-checkbox
        options="[1,2,3]"
        initialValue="[1,2]"
        option="mag"
        data="https://d3uldu0bz6pkei.cloudfront.net/data-query/6463ec5412b93e00099b0e05"
  
      >
  </body>
</html>
